@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --body-color : #f4f6eb;
}

* {
    margin: 0 ;
    padding: 0 ;
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    box-sizing: border-box;
}

/* Header */

/*Alinhamento do header*/

html {
  scroll-behavior: smooth;
}
body {
 background : linear-gradient(90deg, var(--body-color), #bbbbbb);
}

header {
  position: fixed; /* Fixa o header no topo */
  width: 100%;
  z-index: 1000; /* Garante que fique por cima */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #8B0000, #333333);
  padding: 15px;
  height: 10%;
}
header img {
  margin-top: 5%;
  width: 150px;
}

.logo {
  margin: 0;
  color: #111;
}
/* navbar da esquerda */
.nav-left {
  position: absolute;
  left: 60px; /* Cola os links na esquerda */
}

.nav-left ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left a {
  color: #eee9e9;
  text-decoration: none;
  font-weight: bold;
}
#produtos-nav {
    padding-left: 20px;
}


/* navbar da direita */

.nav-right {
  position: absolute;
  right: 80px; /* Cola na direita */
  color: #fff;
}
.fa-search {
  color: #eee9e9;
}
.fa-user {
  color: #eee9e9;
}
.fa-shopping-cart {
  color: #eee9e9;
}
.nav-right ul {
  display: flex;
  gap: 34px;
  list-style: none;
margin-right: 9px;
}
.nav-right ul li a {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.nav-right a {
  color: #111;
  text-decoration: none;
}


.search-input {
  position: absolute;
  right: 90px;
  width: 0;
  padding: 0;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  transition: all 0.5s ease;
  opacity: 0;
  outline: none;
  font-size: 13px;
}

.search-input.ativo {
  right: 145px;
  width: 200px;
  padding: 8px 15spx;
  opacity: 1;
  bottom: 1px;
  top: 1px;
}

.search-toggle {
  top: 0px;
  cursor: pointer; 
}

.search-toggle:hover {
  transform: scale(1.2);
  transition:  0.3s ease;
}
/* Fim do Header */

/* Produtos nav-bar aberta */

.produtos-navv {

  position: fixed;
  top: 0;
  left: -1200px;
  width: 55%;
  height: 85%;
  background-color: #333333;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  transition: left 0.7s ease;
  z-index: 1001;

}

.produtos-navv.aberto {
  left: 0;
}

.overlayprod {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;

}


.overlayprod.visivel {
  display: block;
}

.fecharprodutos {
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 20px;
}


#col-title {

  margin: 10px;
  font-size: 20px;

}

#camisa-title {
  margin: 10px;
  font-size: 20px; 
}

#calca-title {
   margin: 10px;
  font-size: 20px;  
}

#moletom-nav {
color: #eee9e9;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
}

#bermuda-nav{
color: #eee9e9;
    margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  display: flex; 
}
.menu-esquerda ul {
  list-style: none;

}
.produtos-navv h2 {
  color: #eee9e9;
}
.produtos-navv p {
  color: #eee9e9;
}

.produtos-navv hr {
margin-top: 10px;
width: 120px;
}

.menu-esquerda ul li {
  margin-top: 8px;
}
.menu-esquerda ul li a {

  text-decoration: none;
  color: #eee9e9;
  margin-left: 20px ;
}
button[type="submit"] {
  cursor: pointer;
}
.menu-esquerda {
  height: 91%;
width: 370px;
  display: block;
  border-right: 1px solid #111;
}
.menu-esquerda a {
  color: #eee9e9;
}
.fecharprodutos {
  color: #eee9e9;
}
/* Produtos side fechada*/


/*Carrinho aberto */

.carrinho {
  position: fixed;
  top: 0;
  right: -900px;
  width: 500px;
  height: 100%;
  background-color: #333;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  transition: right 0.7s ease;
  z-index: 1001;
}
.carrinho h2 {
  color: #eee9e9;
}
.carrinho button {
  color: #eee9e9;
}
.carrinho.aberto {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;
}

.overlay.visivel {
  display: block;
}

.fecharcarrinho {
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
right: 20px;
}

#button-finalizarCarrinho {
  display: flex;
  position: absolute;
  font-size: 15px;
  color: white;
  background-color: #4E4C4C;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
bottom: 20px;
}

#button-finalizarCarrinho:hover {
  cursor: pointer;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  transition: 0.9s ease;
}
 
/* Fim do carrinho */

/* Conteúdo*/

.containerr {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 150px 20px 40px 20px;
  flex-wrap: wrap;
}
.coluna-esquerda.aberto {
  background-color: #111;
}


.coluna-esquerda, .coluna-direita {
  border: 1px solid transparent;
  padding: 20px;
  box-sizing: border-box;
  background-color: #bbbbbb;
  border-radius: 8px;
  box-shadow: 1px 1px 15px #0000001e; 
}

/* Coluna Esquerda */

.formularios input {
  margin-top: 10px;
  padding: 10px;
  padding-right: 200px;
}

#my-given {
  border-bottom: 1px solid #111;
  margin-bottom: 20px;
}
#p-dados {
  margin-bottom: 10px;
} 
#title-senha {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #111;
}
#senha {
  margin-bottom: 10px;
}
.form-group input {
  padding: 10px;
  padding-right: 200px;
  outline: none;
  border: none;
}
.form-group button {
  padding: 10px;
  margin-top: 20px;
border: none;
background-color: #111;
color: white;
}

.coluna-esquerda {
display: flex;
flex-direction: column;
gap: 20px;
max-width: 500px;
min-width: 200px;

}
.coluna-esquerda .formularios {
  display: flex;
  flex-direction: column;
}
.section-formularios h2 {
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
}
.section-formularios {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Coluna da direita */

.coluna-direita img {
  background-color: #AAa;
  width: 50%;
  right: 20px;
}


.coluna-direita {
  display: none;
  min-width: 300px;
  max-width: 500px;
}

.custom-file{
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #111;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.avaliacao-produto button[type=submit] {
    padding: 10px;
  margin-top: 5px;
border: none;
background-color: #111;
color: white;
}

#fileName {
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  position: relative;
  width: 100%;
  margin-top: auto; 
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  
}

.footer-column.center { 
  justify-content: center;
  text-align: center;
}
.footer-column-left, .footer-column-right {
  position: static;  
  min-width: 250px; 
}
.footer-column-left {
  padding: 5px;
  margin-left: 3%;
    text-align: left;
}

.footer-column-left p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.footer-column-center {
  text-align: center;
  flex: 1; 
    justify-content: center;
  text-align: center;
}

.logo2  {
  margin-left: 30px;
  font-size: 36px;
  margin-bottom: 20px;
}

.insta-icon {
  font-size: 30px;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.footer-autoral {
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  margin-left: 2%;
  font-size: 14px;
  color: #aaa;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 6px;
outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: #fff;
}

.newsletter-form button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}