@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --body-color : #f4f6eb;
}

* {
    margin: 0 ;
    padding: 0 ;
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    box-sizing: border-box;
}

header {
  position: fixed; /* Fixa o header no topo */
  width: 100%;
  z-index: 1000; /* Garante que fique por cima */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  padding: 15px;
  height: 9vh;
}
.logo {
  font-size: 24px;
  margin: 0;
  color: #111;
}
/* navbar da esquerda */
.nav-left {
  position: absolute;
  left: 60px; /* Cola os links na esquerda */
}

.nav-left ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}
#produtos-nav {
    padding-left: 20px;
}


/* navbar da direita */

.nav-right {
  position: absolute;
  right: 80px; /* Cola na direita */
  color: #111;
}

.nav-right ul {
  display: flex;
  gap: 34px;
  list-style: none;
margin-right: 9px;
}
.nav-right ul li a {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.nav-right ul li a img {
width: 25px;
height: 25px;
}


.search-input {
  position: absolute;
  right: 9px;
  width: 0;
  padding: 0;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  transition: all 0.5s ease;
  opacity: 0;
  outline: none;
  font-size: 17px;
}

.search-input.ativo {
  right: 90px;
top: 30px;
  width: 200px;
  padding: 8px 15px;
  opacity: 1;
}

.search-toggle {
  cursor: pointer; 
}

.search-toggle:hover {
  transform: scale(1.2);
  transition:  0.3s ease;
}
/* Fim do Header */

/* Produtos nav-bar aberta */

.produtos-navv {

  position: fixed;
  top: 0;
  left: -1200px;
  width: 55%;
  height: 70%;
  background: linear-gradient(90deg, var(--body-color), #bbbbbb);
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  transition: left 0.7s ease;
  z-index: 1001;

}

.produtos-navv.aberto {
  left: 0;
}

.overlayprod {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;

}


.overlayprod.visivel {

  display: block;

}

.fecharprodutos {
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 20px;
}

.produtos-navv hr {
margin-top: 10px;
width: 120px;
}

#col-title {

  margin: 10px;
  font-size: 20px;

}

#camisa-title {
  margin: 10px;
  font-size: 20px; 
}

#calca-title {
   margin: 10px;
  font-size: 20px;  
}

#moletom-nav {
  color: #111;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
}

#bermuda-nav{
color: #111;
    margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  display: flex; 
}
.menu-esquerda ul {
  list-style: none;

}
.menu-esquerda ul li {
  margin-top: 8px;
}
.menu-esquerda ul li a {

  text-decoration: none;
  color: #111;
  margin-left: 20px ;
}
.menu-esquerda {
  height: 91%;
width: 370px;
  display: block;
  border-right: 1px solid #111;
}
/* Produtos side fechada*/


/*Carrinho aberto */

.carrinho {
  position: fixed;
  top: 0;
  right: -900px;
  width: 500px;
  height: 100%;
  background: linear-gradient(90deg, var(--body-color), #bbbbbb);
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  transition: right 0.7s ease;
  z-index: 1001;
}

.carrinho.aberto {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;
}

.overlay.visivel {
  display: block;
}

.fecharcarrinho {
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
right: 20px;
}

#button-finalizarCarrinho {
  display: flex;
  position: absolute;
  font-size: 15px;
  color: white;
  background-color: #111;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
bottom: 20px;
}

#button-finalizarCarrinho:hover {
  cursor: pointer;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  transition: 0.9s ease;
}
 
.tela-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--body-color); /* opcional */
}

.tela-login {
    width: 500px;
    height: 500px;

}
#login-title {
    margin: 20px;
    text-align: center;
}
#conecte-title {
    margin: 20px;
    text-align: center;
}
.tela-login h1 { 
    font-weight: normal;
}
.tela-login h2 {
    font-weight: normal;
    font-size: 20px;
}
.tela-login label {
     display: flex;
    text-align: center;
margin-top: 10px;
margin-bottom: 10px;
    margin-left: 30%;
}
.tela-login input {
    display: flex;
   justify-content: center;
   margin-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    outline: none;
    border: 1px solid #111;
}
.tela-login a {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #111;
}
.tela-login button {
    display: flex;
   margin-left: 20%;
}

#submit-entrar {
    padding: 10px;
    border: none;
    background-color: #111;
    color: white;
    margin-bottom: 10px;
    margin-left: 30%;
}

#email-entrar {
    padding: 10px;
    border: none;
    background-color: #111;
    color: white;
    margin-left: 30%;

}
.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  bottom: 200px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer-column-left {
  position: absolute;
  left: 80px; /* Cola os links na esquerda */
}
.footer-column-left hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.footer-column-left p {
padding: 5px;
}

.footer-column.center { 
  justify-content: center;
  text-align: center;
}
.footer-column-right {
    position: absolute;
  right: 80px; /* Cola na direita */
  color: #f4f6eb;
  margin: 10px;
}
.logo2{
  margin-left: 30px;
  font-size: 36px;

  margin-bottom: 20px;
}

.insta-icon {
  font-size: 30px;
  display: inline-block;
  
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.footer-autoral {
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
  color: #aaa;
}
.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 6px;
outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: #fff;
}

.newsletter-form button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}